.search-page {
    background-image: url('./assets/we-got-jokes.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.8;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.search-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.search-outer-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 150px;
}

.search-wrapper {
    background-color: #fff;
    opacity: 1;
    padding: 1em;
    height: 60px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.search-btn {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.search-form {
    display: flex;
}

.search-input {
    background-color: #fff;
    height: 60px;
}
.search-input input {
    border: none;
    outline: none;
    font-size: 1.5em;
    color: #000;
    font-weight: 300;
    pointer-events: auto;
}

.search-group {
    display: flex;
    flex-direction: column;
}

.search-input input:active,
.search-input input:focus {
    outline: none;
}

.search-input-label {
    position: absolute;
    top: 10px;
    color: red !important;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 30px;
}
.search-results .MuiCard-root {
    padding: 20px;
    /* margin: 20px; */
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
    .search-container {
        width: auto;
    }

    .search-results {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .search-results {
        grid-template-columns: repeat(3, 1fr);
    }
}
